/**
 * Colors
 *
 * @package VRC
 * @since 0.0.1
 *
 */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$w : #ffffff;
$b : #0073aa;
/* ----------------------------------------------------------------------------
 * Admin Colors
 * ------------------------------------------------------------------------- */

 $g1 : #f1f1f1;
 $g2 : #f5f5f5;
 $g3 : #ebebeb;

